body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgb(40, 42, 61);
  display: grid;
  grid-auto-flow: row;
  color: white;
}

#navbar {
  width: 100 vw;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: rgb(31, 194, 194);
  height: 10vh;
  display: grid;
  grid-auto-flow: column;
}

.navbar-title {
  font-family: "Gill Sans Extrabold", sans-serif;
  font-weight: bolder;
  font-size: 1.66vw;
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dummy {
  width: 50vw;
}

.auth {
  height: 100%;
  width: 30vw;
  font-weight: normal;
  font-family: "Verdanta", sans-serif;
  font-size: 1.4vw;
  display: grid;
  grid-auto-flow: column;
}

.auth-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-redirect {
  font-size: 1.25vw;
  text-decoration: underline;
}

a {
  color: white;
  text-decoration: none;
}

.body-area {
  width: 100vw;
  /* height: 100vh; */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-container {
  background-color: #5a667d;
  height: 25em;
  width: 20em;
  margin: 10vh auto;
  box-shadow: none;
  border-radius: 0.3em;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
}

.user-brand {
  background-color: rgb(31, 194, 194);
  align-self: flex-start;
  width: 100%;
  text-align: center;
  border-radius: 0.3em 0.3em 0 0;
}

.credentials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3em;
  padding-bottom: 1em;
}

.credential-element {
  margin-top: 2.5em;
}

#login-button {
  background-color: rgb(31, 194, 194);
  border-radius: 0.2em;
  border-width: thin;
  font-size: 1.119em;
  width: 4em;
  height: 1.9em;
  border-color: rgb(31, 194, 194);
  color: white;
  font-family: sans-serif;
}

#register-button {
  background-color: rgb(31, 194, 194);
  border-radius: 0.2em;
  border-width: thin;
  font-size: 1.119em;
  width: 5em;
  height: 1.9em;
  border-color: rgb(31, 194, 194);
  color: white;
  font-family: sans-serif;
}

.user-error-area {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  margin-left: auto;
  margin-right: auto;
  width: 77%;
}

.user-error-message {
  text-align: center;
  color: blue;
  font-family: monospace;
  font-weight: lighter;
  /* background-color: black; */
  /* text-shadow: blueviolet 1px 0 10px; */
}